@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 id="hello_world" class="display-4 green_text" onmouseover="newColor()" onmouseout="oldColor()">Hello, World</h1>
    <p><a>Check out this really fascinating video down below</a>.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/l94gMfQVx9k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
 